.skeleton {
    animation: skeleton-loading 1s linear infinite alternate; 
}

@keyframes skeleton-loading {
    0% {
        background-color: rgba(165, 165, 165, 0.1);
    }
    100% {
        background-color: rgba(165, 165, 165, 0.3);
    }
}