// Переменные для Heading элементов
$heading_font_family: ('Poppins-SemiBold', sans-serif, Arial);

$heading_1_font_size: 36px;
$heading_2_font_size: 28px;
$heading_3_font_size: 24px;
$heading_4_font_size: 20px;

$heading_1_3_line_height: 130%;
$heading_4_line_height: 28px;

// Переменные для Paragraph элементов
$paragraph_font_family: ('Poppins-Regular', sans-serif, Arial);

$paragraph_large_font_size: 20px;
$paragraph_medium_font_size: 16px;
$paragraph_small_font_size: 14px;

$paragraph_large_line_height: 28px;
$paragraph_medium_line_height: 24px;
$paragraph_small_line_height: 18px;

// Переменные для Caption элементов
$caption_font_family: ('Poppins-Medium', sans-serif, Arial);

$caption_large_font_size: 16px;
$caption_medium_font_size: 14px;
$caption_small_font_size: 12px;

$caption_large_line_height: 20px;
$caption_medium_line_height: 18px;
$caption_small_line_height: 18px;

// Переменные для Caption_Bold элементов
$caption_bold_font_family: ("Poppins-SemiBold", sans-serif, Arial);

$caption_bold_font_size:16px;

$caption_bold_line_height:20px;






