@import '../../styles/mixins.scss';

.eventPage-main-container{
    display: flex;
    flex-direction: column;

    .eventPage-event{
        display: flex;
        justify-content: space-between;
        margin-top: 120px;

        .title{
            margin: 0;
            padding: 0;
            color: rgb(28, 28, 28);
            @include heading_2();
            text-align: left;
        }

        .text{
            width: 784px;
            margin: 0;
            padding: 0;
            color: rgb(28, 28, 28);
            @include paragraph_large();
            text-align: left
        }
    }

    .eventPage-img-container{
        display: flex;
        gap: 40px;
        margin-top: 60px;

        .eventPage-img{
            width: 269px;
        }
    }

    .eventPage-host{
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        
        .title{
            margin: 0;
            padding: 0;
            margin-bottom: 48px;
            color: rgb(28, 28, 28);
            @include heading_2();
            text-align: left
        }
        
        .eventPage-host-container{
            display: flex;
            gap: 24px;
            align-items: center;

            .eventPage-host-img{
                width: 120px;
                height: 120px;

                .eventPage-host-photo{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .eventPage-host-profile{
                display: flex;
                flex-direction: column;
                width: 331px;
                gap: 8px;

                .host-title{
                    margin: 0;
                    padding: 0;
                    color: rgb(28, 28, 28);
                    @include heading_3();
                    text-align: left
                }

                .host-text-gray{
                    margin: 0;
                    padding: 0;
                    color: rgb(158, 155, 152);
                    @include paragraph_large();
                    text-align: left
                }

                .host-text{
                    margin: 0;
                    padding: 0;
                    color: rgb(28, 28, 28);
                    @include paragraph_large();
                    text-align: left
                }
            }
        }
    }
}