@import "./styles/variables.scss";
@import "./styles/mixins.scss";

html {
   background-color: rgb(255, 255, 255);

}


.main {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   width: 100vw;


   
}