@import '../../styles/mixins.scss';

.eventPage-time-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-top: 1px solid rgb(226, 226, 226);
    padding: 32px 0;

    .title-time {
        margin: 0;
        padding: 0;
        color: rgb(28, 28, 28);
        @include heading_3();
        text-align: left;
    }

    .subtitle {
        margin: 0;
        padding: 0;
        color: rgb(28, 28, 28);
        @include paragraph_large();
        text-align: left;
    }

    .eventPage-time-profile {
        display: flex;
        align-items: center;
        gap: 24px;

        .eventPage-time-profile-img {
            width: 100px;
            height: 100px;

            .eventPage-time-photo {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .eventPage-time-text-container {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .title-profile {
                margin: 0;
                padding: 0;
                color: rgb(28, 28, 28);
                @include heading_4();
                text-align: left;
            }

            .subtitle-company {
                margin: 0;
                padding: 0;
                color: rgb(158, 155, 152);
                @include paragraph_medium();
                text-align: left;
            }

            .subtitle-profile {
                margin: 0;
                padding: 0;
                color: rgb(28, 28, 28);
                @include paragraph_medium();
                text-align: left;
            }
        }
    }
}