@import '../styles/mixins.scss';

.gallery-main{
    padding: 0 122px 0 122px;

    .title{
        color: rgb(0, 0, 0);
        @include heading_2();
        font-weight: 600;
        line-height: 130%;
        text-align: left;
        margin: 0;
        padding: 0;
        margin-right: auto;
        margin-bottom: 48px;
    }
}