@import '../../styles/skeleton.scss';

.gallery {


    .gallery-container {
        display: grid;
        grid-template-columns: repeat(3, 372px);
        grid-gap: 40px;
        grid-row-gap: 40px;
    }


}

.skeleton{
    width: 100%;
    height: 100%;
}


