@import '../../styles/mixins.scss';
@import '../../styles/buttons.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 64px 40px 64px;
    box-sizing: border-box;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    width: 448px;
    gap: 80px;

    .title{
        margin: 0;
        padding: 0;
        @include heading_2();
        color: rgb(28, 28, 28);
        line-height: 31.2px;
    }

    .text {
        margin: 0;
        @include paragraph_medium();
        color: rgb(28, 28, 28);
        line-height: 24px;
        text-align: center;
    }

    .back-btn {
        @include button_main();
        @include paragraph_medium();
    }
}